@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter";
  src: url("../font/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s ease;
}

.h-sc {
  height: calc(100vh - 20px);
}

/* .w-screen {
  max-width: 450px;
} */

.font-inter {
  font-family: "inter", sans-serif;
}

.shadow__nav {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.6);
}
.ant-form-item .ant-form-item-control-input {
  min-height: 40px;
}

.ant-input {
  border-color: #beb4ff;
  color: #354ddf;
  border-radius: 8px;
  padding-left: 20px;
  min-height: 48px;
}
.ant-input:hover {
  border-color: #354ddf;
}

.ant-input::placeholder,
.ant-picker-input input::placeholder,
.ant-picker-suffix {
  color: #4455ba !important;
  font-weight: 300;
  font-size: 14px;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #354ddf;
  border-color: #354ddf;
}
.ant-checkbox .ant-checkbox-inner {
  width: 20px;
  height: 20px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #beb4ff;
  color: #354ddf !important;
  border-radius: 8px;
  padding-left: 20px;
  min-height: 48px;
  display: flex;
  align-items: center;
}
.ant-select-selection-placeholder {
  color: #4455ba !important;
  font-weight: 300 !important;
  font-size: 14px !important;
}
.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  ):hover
  .ant-select-selector {
  border-color: #354ddf;
}

.ant-picker {
  border-color: #beb4ff;
  color: #354ddf !important;
  border-radius: 8px;
  padding-left: 20px;
  min-height: 48px;
  display: flex;
  align-items: center;
}
.ant-picker-footer {
  display: none;
}
.ant-slider .ant-slider-track,
.ant-slider .ant-slider-handle::after,
.ant-slider:hover .ant-slider-track {
  background: #354ddf;
  box-shadow: none;
}
label {
  font-size: 18px !important;
  color: #000e66 !important;
}
.ant-slider .ant-slider-handle:hover::after,
:where(.css-dev-only-do-not-override-17yhhjv).ant-slider
  .ant-slider-handle:active::after,
:where(.css-dev-only-do-not-override-17yhhjv).ant-slider
  .ant-slider-handle:focus::after {
  box-shadow: none;
}

.ant-switch.ant-switch-checked,
.ant-switch.ant-switch-checked:hover {
  background: #354ddf !important;
}
.ant-switch,
.ant-switch:hover {
  background: #beb4ff !important;
}
.ant-input-suffix {
  color: #354ddf;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
